@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

/*~~~~~~~~~~~ navbar ~~~~~~~~~~~*/
.navbar {
  align-items: center;
  background-color: #3a3a3a;
  border-bottom: 1px solid #F8F0E3;
  display: flex;
  font-size: 26px;
  margin: 0 auto;
  padding: 2vh;
  position: sticky;
  top: 0;
}

.navbar .links {
  margin-right: auto;
}

.navbar .socials {
  margin-left: auto;
}

.navbar .socials .icons:hover {
  color: #99cab5;
}

.navbar a {
  color: #F8F0E3;
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}

.navbar a:hover {
  color: #99cab5;
  text-decoration: underline;
}

/*~~~~~~~~~~~ home ~~~~~~~~~~~*/
.home {
  align-items: center;
  background: url(./images/svg.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home .greeting {
  font-size: larger;
  text-align: center;
}

.home .profile-pic {
  align-self: flex-start;
}

.home .profile-pic img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100vh;
  max-height: 93vh;
}