@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #f8f0e3;
}

.navbar {
  align-items: center;
  background-color: #070F1C;
  display: flex;
  font-size: 26px;
  margin: 0 auto;
  padding: 30px;
}

.navbar .links {
  margin-right: auto;
}

.navbar a {
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}

.navbar a:hover {
  color: #91c399;
}