@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

/*~~~~~~~~~~~ navbar ~~~~~~~~~~~*/
.navbar {
  align-items: center;
  background-color: #3a3a3a;
  border-bottom: 1px solid #F8F0E3;
  display: flex;
  font-size: 26px;
  margin: 0 auto;
  padding: 30px;
  position: sticky;
  top: 0;
}

.navbar .links {
  margin-right: auto;
}

.navbar .socials {
  margin-left: auto;
}

.navbar .socials .icons:hover {
  color: #99cab5;
}

.navbar a {
  color: #F8F0E3;
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}

.navbar a:hover {
  color: #99cab5;
}

/*~~~~~~~~~~~ home ~~~~~~~~~~~*/
.home {
  align-content: space-around;
  background-color: #F8F0E3;
  font-size: x-large;
  flex-grow: 1;
  height: 100vh;
  margin: 0;
}

.home .profilepic {
  width: 150px;
  height: 150px;
}

.home .profilepic img {
  border-radius: 50%;
  height: auto;
  width: 100%;
}